// FONTS
//  -- PRIMARY
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Barlow Regular "), local("Barlow-Regular"),
    url("./fonts/barlow-latin-400.woff2") format("woff2"),
    url("./fonts/barlow-latin-400.woff") format("woff");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Barlow SemiBold "), local("Barlow-SemiBold"),
    url("./fonts/barlow-latin-600.woff2") format("woff2"),
    url("./fonts/barlow-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Barlow Bold "), local("Barlow-Bold"),
    url("./fonts/barlow-latin-700.woff2") format("woff2"),
    url("./fonts/barlow-latin-700.woff") format("woff");
}

//  -- SECONDARY
@font-face {
  font-family: "Caveat";
  font-style: cursive;
  font-display: swap;
  font-weight: 400;
  src: local("Caveat Regular"), local("Caveat-Regular"),
    url("./fonts/caveat-v7-latin-regular.woff2") format("woff2"),
    url("./fonts/caveat-v7-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Caveat";
  font-style: cursive;
  font-display: swap;
  font-weight: 700;
  src: local("Caveat Bold"), local("Caveat-Bold"),
    url("./fonts/caveat-v7-latin-700.woff2") format("woff2"),
    url("./fonts/caveat-v7-latin-700.woff") format("woff");
}

//  -- MONO
@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Ubuntu Mono Regular "), local("Ubuntu Mono-Regular"),
    url("./fonts/ubuntu-mono-latin-400.woff2") format("woff2"),
    url("./fonts/ubuntu-mono-latin-400.woff") format("woff");
}
@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("Ubuntu Mono Bold "), local("Ubuntu Mono-Bold"),
    url("./fonts/ubuntu-mono-latin-700.woff2") format("woff2"),
    url("./fonts/ubuntu-mono-latin-700.woff") format("woff");
}

// VARIABLES
$gradient-col-1: #2c5364;
$gradient-col-2: #203a43;
$gradient-col-3: #0f2027;
$family-primary: "Barlow", sans-serif;
$family-secondary: "Caveat", cursive;
$family-code: "Ubuntu Mono", monospace;
$navbar-item-color: #fff;
$footer-item-color: $navbar-item-color;
$navbar-background-color: linear-gradient(
  to right bottom,
  rgba($gradient-col-1, 1),
  rgba($gradient-col-2, 1),
  rgba($gradient-col-3, 1)
);
$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: darken($navbar-item-color, 50%);

// SMOOTH SCROLL
html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

// BODY
body {
  background-color: whitesmoke;
}

// NAVBAR
.navbar {
  background-image: $navbar-background-color;
}
.navbar-brand {
  text-shadow: 2px 2px #333;
}

// 404 HEADINGS
h1.error-head {
  font-size: 4rem;
}
h2.error-subhead {
  font-size: 3rem;
}

// GRADIENT
.is-grad {
  background: $gradient-col-3;
  background: -webkit-linear-gradient(
    to right bottom,
    rgba($gradient-col-1, 1),
    rgba($gradient-col-2, 1),
    rgba($gradient-col-3, 1)
  );
  background: -moz-linear-gradient(
    to right bottom,
    rgba($gradient-col-1, 1),
    rgba($gradient-col-2, 1),
    rgba($gradient-col-3, 1)
  );
  background: linear-gradient(
    to right bottom,
    rgba($gradient-col-1, 1),
    rgba($gradient-col-2, 1),
    rgba($gradient-col-3, 1)
  );
}

// HERO
.hero {
  position: relative;
  z-index: 0;
}
#tsparticles {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.hero-title {
  text-shadow: 2px 2px #333;
}
.svgIcon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #fff;
}

// PROJECTS
.project-grid {
  display: grid;
  grid-gap: 2rem;
}
@media screen and (min-width: 769px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.project-item {
  background: white;
  padding: 1.25rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
}

// FOOTER
.footer-link {
  color: $footer-item-color;
  font-weight: 600;
  &:hover {
    color: darken($footer-item-color, 50%);
  }
}

// BULMA IMPORT
@import "~bulma/bulma.sass";
